<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908484753448-pri65e5uuvbtk5dh9u1eqdh04mu4n5ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908484753448-pri65e5uuvbtk5dh9u1eqdh04mu4n5ui</string>
	<key>API_KEY</key>
	<string>AIzaSyAwtf3NDSKXL3j9P8bkzms7pf96mYMvju4</string>
	<key>GCM_SENDER_ID</key>
	<string>908484753448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-95d94</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-95d94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908484753448:ios:1053b8df7720d7c7be5d1d</string>
</dict>
</plist>